In [2]:
import pyspark
from pyspark.sql import SparkSession

sc = pyspark.SparkContext()
spark = SparkSession(sc)

In [10]:
# (producct id, product name, qty)
data = [[1, "product1", 10],
        [2, "product2", 20]]

# Defining schema for dataframes
# StructField(column_name, column_type, nullable?)

from pyspark.sql.types import *
schema = StructType([
    StructField('product_id', IntegerType(), False),
    StructField('product_name', StringType(), False),
    StructField('qty', IntegerType(), False)
])

In [11]:
df = spark.createDataFrame(data, schema)

In [12]:
df.show()

+----------+------------+---+
|product_id|product_name|qty|
+----------+------------+---+
|         1|    product1| 10|
|         2|    product2| 20|
+----------+------------+---+

In [13]:
df.printSchema()

root
 |-- product_id: integer (nullable = false)
 |-- product_name: string (nullable = false)
 |-- qty: integer (nullable = false)

In [14]:
# Automated schema inferring
df2 = spark.createDataFrame(data, ['product_id', 'product_name', 'qty'])

In [15]:
df2.printSchema()

root
 |-- product_id: long (nullable = true)
 |-- product_name: string (nullable = true)
 |-- qty: long (nullable = true)

In [21]:
!head -10 spark_training_baseline/data/flights.csv

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,Romania,15
United States,Croatia,1
United States,Ireland,344
Egypt,United States,15
United States,India,62
United States,Singapore,1
United States,Grenada,62
Costa Rica,United States,588
Senegal,United States,40

In [22]:
from pyspark.sql.types import StructField, StructType, StringType, LongType
csv_schema = StructType([
    # StructField (name, dataType, nullable, metadata)
    StructField("DEST_COUNTRY_NAME", StringType(), True),
    StructField("ORIGIN_COUNTRY_NAME", StringType(), True),
    StructField("count", LongType(), False)    
])

# spark.read is a DataFrameReader singleton class
df = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .schema(csv_schema) \
    .load('spark_training_baseline/data/flights.csv')
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [23]:
df.createOrReplaceTempView('flights')

In [25]:
spark.sql("""
SELECT * FROM flights LIMIT 10;
""").show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+

In [ ]:
# Excercise: find the origin country which has the largest number outbound flights from